#userWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(45deg, #0335B4 0%, #2960EC 100%);
    color: white;
    border-radius: 0 0 1.5em 1.5em;
}