/* .box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box .rectangle-wrapper {
    border: 0px none;
    height: 56px;
    width: 326px;
}

.box .rectangle {
    background-color: #0335b4;
    border-radius: 10px;
    height: 56px;
    left: 0;
    position: fixed;
    top: 0;
    width: 326px;
}

.box .rectangle .lightText {
    color: white;
} */