.card-header {
    background-color: white;
    color: var(--color-primary100);
    height: max-content;
    border: none;
    align-items: center;
}

#accordion {
    height: 100%;
}

#headingCancelled, #headingConfirmed, #headingCompleted, #headingPending {
    height: 5em;
    padding-top: 1.2em;
}

.customBorder {
    border-color: var(--color-primary30);
}