* {
  margin: 0;
  padding: 0;  
  scroll-behavior: smooth;
}

:root{
  /* color variables */
  --color-primary100: #0335B4;
  --color-primary30: #C1D2FE;
  --color-primary40: #8FAEFC;
  --color-primary50: #648EF9;
  --color-primary60: #4375F4;
  --color-primary70: #2960EC;
  --color-primary80: #174FDF;
  --color-primary90: #0A41CC;
  --color-utility-danger: #ff7272;
  --color-utility-info: #2EA2E6;
  --color-utility-warning: #EDA12F;
  --color-utility-success: #3DCC87;
  --color-black: #292B33;
  --bg-custom: #E8EEFF;
}

html, body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  background-color: var(--bg-custom);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  height: 100%;
}

.glassmorphic {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  border: none;
} 
    
#cardTitle {
  background-color: var(--color-primary30);
  color: var(--color-black);
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

h2 {
  color: var(--color-primary100);
}
