#navBar {
    background-color: var(--bg-custom);
}

@media (max-width: 991px) {
    #navbarList {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #navbarContent {
        flex-direction: column;
        width: 100%;
    }
  
    #navbarList .onMobile  {
        width: 100%;
        border-bottom: 0.5px solid var(--color-primary30);
    }

    #logoutButton {
        margin-top: 1em;
    }
  }
  